/* Fonts */

:root {
	/* ========== Colors ========== */
	--bg-black-color: #ffc;
	--ui-color: #f9c06a;
	--text-color-main: #603809;
	--text-color-light: #fff;
	--text-color-black: #1e1e1e;

	/* ========== Font and Typography  ========== */
	--body-font: 'Playfair Display', serif;
	--text-font: 'Clicker Script', cursive;
	--biggest-font-size: 220px;
	--h1-font-size: 54px;
	--h2-font-size: 30px;
	--p-font-size: 20px;
	--normal-font-size: 15px;
	--small-font-size: 13px;

	/* ========== Font Weight  ========== */
	--font-regular: 400;
	--font-medium: 500;
	--font-bold: 700;
}

/* GENERAL CSS */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--body-font);
	background-color: var(--bg-black-color);
}

button,
input {
	outline: none;
	border: none;
}

.container {
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1480px;
}

.hidden {
	display: none;
}

.hamburger {
}
